* {
	padding: 0px;
	margin: 0px;
}

/* Fonts */

@font-face {
    font-family: JuneGloom;
    src: url(../fonts/JuneGloom.ttf);
}

@font-face {
    font-family: VanillaExtract;
    src: url(../fonts/VanillaExtract.ttf);
}

/* Tags */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: white;
}

h1 {
	font-family: VanillaExtract;
	font-size: 80px;
	-webkit-text-stroke: 1px black;
}

h2 {
	font-family: VanillaExtract;
	font-size: 50px;
	color: darkgrey;
	-webkit-text-stroke: 1px black;
}

th{
	border-color: black;
}

/* Id's */

#frame, .card {
	width: 100%;
	height: 100%;
}

#alertFrame {
	position: fixed;
	right: 16px;
	bottom: 0px;
	width: 300px;
	z-index: 100;
}

#canvas{
	width: 100%;
	height: 100%;
	background:white;
	border: 5px solid grey;
	cursor: pointer;
}

#toolbar{
	background: white;
	border: 5px solid grey;
	padding: 0px;
}

#toolbar *{
	text-align: center;
	margin: auto;
	display: block;
	font-size: 25px;
	margin-top: 10px;
	cursor: pointer;
}

#toolbar i{
	width: 37px;
	height: 37px;
	background: white;
	padding: 5px;
	border: 2px solid grey;
}

#colorPicker{
	height: 37px;
	width: 37px;
	padding: 5px;
	border: 2px solid grey;
}

#colorPicker i{
	margin: 0px;
}

#timeline{
	background: url(../media/funky-lines.png);
	margin: 25px;
	padding: 25px;
	border: 5px dashed lightgrey;
}

#back{
	font-size:70px;
	position:absolute;
	top:20px;
	left:20px;
	cursor: pointer;
}

#timer{
	animation-duration: .5s;
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
}

#gamesList{
	border: 2px solid black;
	border-color: black;
	background: rgba(255, 255, 255, .8);
}

#gamesList tr:hover{
	cursor:pointer;
}

#joinContainer{
	background-color:rgba(255,255,255,.5);
	padding:20px;
}

#joinTabs{
	background:white;
	padding:10px;
	border: 1px solid #dee2e6;
	border-top:none;
}

/* Classes */

.card {
	position: fixed;
	top: 0px;
	left: 0px;
	border: 10px solid rgba(0,0,0,.25);
	border-radius: 0px;
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.identifier{
	position: fixed;
	top: 30px;
	right: 30px;
	font-family: VanillaExtract;
	font-size: 30px;
}

.scribbleInput {
	color: black;
	border: none;
	background: none;
	border-bottom: 1px solid darkgrey;
	border-radius: 0px;
}

.scribbleInput:focus {
	color: black;
	border: none;
	background: none;
	border-bottom: 1px solid darkgrey;
}

.drawing{
	background: white;
	width: 1000px;
	margin: auto;
	border: 5px solid grey;
	border-radius: 20px;
	box-shadow: 5px 5px 10px rgba(50, 50, 50, .3);
}

.line{
	width: 0px;
	height: 150px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 2px solid lightgrey;
}

.jackInTheBox {
    animation-name: jackInTheBox
}

@keyframes jackInTheBox {
    0% {
        opacity: 0;
        transform: scale(.1) rotate(30deg);
        transform-origin: center bottom
    }
    50% {
        transform: rotate(-10deg)
    }
    70% {
        transform: rotate(3deg)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}